body{
    padding: 0px;
    margin: 0px;
}
.container{
    background-color: rgba(245, 222, 179, 0.312);
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}
/*notice*/
.notice{
    background-color: rgba(8, 88, 33, 0.789);
    color: white;
    text-align: center;
    margin-top: -13px;
}
.notice{
    font-size: 13px;
}
/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: -5px;
}
nav a{
    color: black;
}
.logo{
    width: 33px;
    border-radius: 50%;
    border: 3px solid green;
    margin: 0px 8px 0px 15px;
}
.sideleft{
    display: flex;
}
.left{
    padding: 5px 5px 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.left i{
    width: 4px;
    margin-left: 3px;
}
.sideright{
    display: flex;
    margin-right: 10px;
}
.right{
    margin-left: 10px;
    margin-right: 10px;
}
.right i{
    margin-right: 5px;
}
.sideleft, .sideright{
    align-items: center;
    font-size: 14px;
}
.search input{
    margin-left: 15px;
    width: 250px;
    height: 22px;
}
/*header*/
header{
    background-image: url(img/relaxation-indoors-products-salt_23-2148796330.jpg);
    min-height: 600px;
    margin-bottom: 60px;
}
header h1, header h2, header a{
    display: inline-block;
    margin-left: 10%;
}
header h1{
    font-size: 50px;
    width: 380px;
    margin-top: 20%;
    margin-bottom: -80px;
}
header h2{
    width: 100%;
    font-size: 20px;
}
header a{
    color: white;
    background-color: rgb(9, 88, 9);
    padding: 10px;
    border-radius: 20px;
}
/*main*/
main{
    margin-bottom: 50px;
}
main h1{
    margin-top: -20px;
}
main h2{
    font-size: 20px;
}
.main1{
    margin-bottom: 50px;
    text-align: center;
}
.frame{
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    margin: 0px 20px 0px 20px;
}
.box{
    width: 30%;
    margin: 0px 20px 0px 20px;
}
.box h1{
    font-size: 20px;
    margin-bottom: -10px;
}
.box h2{
    font-size: 12px;
}
.box img{
    width: 90%;
    height: 288.49px;
    border-radius: 100px;
    border: 2px dotted black;
    padding: 5px;
    margin-bottom: 25px;
}
.main2{
    background-color: rgba(166, 159, 148, 0.208);
    display: flex;
    text-align: center;
    align-items: center;
}
.main2 img{
    width: 42%;
    height: 350px;
}
.main2 h1, .main2 p{
    display: grid;
    margin-left: auto;
    margin-right: auto;
}
.main2 h1{
    width: 380px;
}
.main2 p{
    margin: 0px 30px 30px 30px;
}
.main2 a{
    background-color: rgb(9, 88, 9);
    padding: 10px;
    border-radius: 40px;
    color: white;
}
/*footer*/
footer{
    text-align: center;
}
footer h1{
    display: inline-block;
    font-size: 25px;
    width: 550px;
}
footer h2{
    font-size: 18px;
    margin-bottom: -15px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
}
.pbox{
    background-color: rgba(166, 159, 148, 0.208);
    margin-bottom: 20px;
}
.pbox:hover{
    transform: scale(1.02);
    cursor: pointer;
}
.pbox img{
    width: 200px;
    min-height: 300px;
}
.ptext{
    font-size: small;
}
.ptext p{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*vv*/
a{
    text-decoration: none;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.756);
    padding: 12px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px rgba(113, 113, 113, 0.593);
}
.left:hover .dropdown{
    display: block;
}
.leftdrop{
    margin-bottom: 8px;
}